/* Deixa o fundo com um degradê de amarelo para preto */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
   background: linear-gradient(to bottom, rgb(80, 108, 234), black)
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Estilo do container do login */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
}

/* Estilo dos inputs */
input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Estilo do botão */
button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: yellow;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito hover no botão */
button:hover {
    background-color: yellow;
    color: black;
}
